/* Reset default styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 10vw;
}

/* Main content styles */
main {
  
}

/* Section styles */
section {
  position: relative;
  color: #fff;
  overflow: hidden;
  padding: 0 20%;
}

/* Section content styles */
.content {
  padding: 40px;
  text-align: center;
  max-width: none;
}

.row {
    margin: 50px auto;
}

/* Section 1 styles */
.section1 {
  background-color: #cc6b8c;
}

/* Section 2 styles */
.section2 {
  background-color: #6ab3cb
}

/* Section 3 styles */
.section3 {
  background-color: #fff;
  color:#333;
}

/* Section 4 styles */
.section4 {
  background-color: #8d6acb;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Font styles */
body {
  font-family: 'Merriweather', serif;
  background-color: #333;
}

hr.line {
    width: 100px;
    margin: 15px auto;
}

hr.line2 {
    width: 25%;
    margin: 15px auto;
}

.intro img {
    max-height: 400px;
    max-width: 100%;
}

.intro .text {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: justify;
}

.intro .image {
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .content {
    padding: 20px;
  }

  section {
    padding: 10px;
  }

  .text {
    padding: 10px;
  }
}