/* Reset default styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 10vw;
  display: flex;
  justify-content: space-evenly;
}

header img {
    width: 200px;
}

section.mobile-gallery {
    display: none;
}

/* Main content styles */
main {
  
}

.white {
    color: white;
}

/* Section styles */
section {
  position: relative;
  color: #fff;
  overflow: hidden;
  padding: 0 20%;
}

h2 {
    color: #333;
    margin-bottom: 40px;
}

h4 {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Section content styles */
.content {
  padding: 40px;
  text-align: center;
  max-width: none;
}

.row {
    margin: 50px auto;
}

/* Section 1 styles */
.section1 {
  background-color: rgb(138, 119, 76);
}

/* Section 2 styles */
.section2 {
  background-color: rgb(161, 105, 48);
}

/* Section 3 styles */
.section3 {
  background-color: #fff;
  color:#333;
}

/* Section 4 styles */
.section4 {
  background-color: rgb(161, 105, 48);
}

.section4 .read-more {
    background-image: linear-gradient(to bottom, transparent 60%, rgb(161, 105, 48));
}

.section5, .section7, .section9 {
    background-color: #fff;
    color:#333;
  }

.section6, .section8, .section10 {
    background-color: rgb(138, 119, 76);
}

.section6 .read-more, .section8 .read-more {
    background-image: linear-gradient(to bottom, transparent 60%, rgb(138, 119, 76));
}

.section10 {
    padding: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.vertical-center {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Font styles */
body {
  font-family: 'Merriweather', serif;
  background-color: #333;
}

hr.line {
    width: 100px;
    margin: 15px auto;
}

hr.line2 {
    width: 25%;
    margin: 15px auto;
}

.intro img {
    max-height: 400px;
    max-width: 100%;
}

.intro .text {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: justify;
}

.intro .image {
    display:flex;
    justify-content:center;
    align-items:center;
}

.list p {
    font-size: 12px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .content {
    padding: 20px;
  }

  section {
    padding: 10px;
  }

  .text {
    padding: 10px;
  }

  header {
    display: none;
  }

  section.mobile-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  section.mobile-gallery img {
    max-width: 80%;
    margin: 20px;
  }
}